<%# locals: (account:, size: "md", color: nil) %>

<% size_classes = {
  "sm" => "w-6 h-6",
  "md" => "w-9 h-9",
  "lg" => "w-10 h-10",
  "full" => "w-full h-full"
} %>

<% if account.logo.attached? || (account.logo_image_url.present? && (account.institution_domain.present? || account.provider&.logo_url.present?)) %>
  <div class="shrink-0 rounded-[22%] overflow-hidden <%= size_classes[size] %>">
    <%= image_tag account.logo_image_url, class: "w-full h-full object-contain", loading: "lazy", alt: account.name %>
  </div>
<% else %>
  <%= render DS::FilledIcon.new(variant: :text, hex_color: color || account.accountable.color, text: account.name, size: size, rounded: true) %>
<% end %>
